body {
    background: white url("img/background.png");
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    color: #fff !important;
    /*font-family: 'Lobster', cursive;*/
    font-family: 'Skranji', cursive;
    font-size: 2em;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff ;
}

.navbar .navbar-collapse {
    text-align: center;
}

@media (min-width: 768px)
{
    .navbar .navbar-nav {
        display:inline-block;
        float:none;
        vertical-align: top;
    }
}
.navbar-nav .dropdown {
    min-width: 158px;
}

.chart {
    display: block;

}

.widget {
    background-color: rgba(255, 255, 255, 0.46);
    border-radius: 20px;
    min-height: 318px;
}

.row {
    margin: 20px 0;
}

.fa-usd, .fa-history, .fa-info-circle, .fa-calendar {
    color: rgba(0, 0, 0, 0.65)
}

.fa-plus {
    color: #333;
    font-size: 1.2em;
}

.spinner {
    margin: 70px auto;
    display: block;
}

.bootstrap-switch { height: 1.9em }

.table-hover>tbody>tr:hover {
    background-color: rgba(100, 100, 100, 0.2);
}

.form-group-child {
    margin-left: 10px;
}

.scheduleTime td {
    padding: 5px 0
}

[hidden].fa-pencil {
    visibility: hidden;
    display: inline !important;
}

[hidden] {
    display: none;
}
