<div class="container">
    <div class="row">
        <div class="col-md-4" style="background-color: darkblue">asd</div>
        <div class="col-md-4" style="background-color: chartreuse">ad</div>
        <div class="col-md-4" style="background-color: crimson">ads</div>
    </div>
    <div class="row">
        <div class="col-md-4" style="background-color: darkblue">asd</div>
        <div class="col-md-4" style="background-color: chartreuse">ad</div>
        <div class="col-md-4" style="background-color: crimson">asd</div>
    </div>
</div>