<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <prices>Loading...</prices>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <info [token]="token" (eventLoaded)="eventLoaded($event)">Loading...</info>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <h2><i class="fa fa-history" aria-hidden="true"></i>&nbsp;Power consumption</h2>
                <img *ngIf="!loadHistory" class="spinner" src="../img/ring-alt.svg">
                <history *ngIf="loadHistory" [token]="token">Loading...</history>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <h2><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Schedules</h2>
                <img *ngIf="!loadSchedules" class="spinner" src="../img/ring-alt.svg">
                <schedules *ngIf="loadSchedules" [token]="token" (eventLoaded)="eventLoaded($event)">Loading...</schedules>
            </div>
        </div>
    </div>
</div>