<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <prices>Loading...</prices>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <history>Loading...</history>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <prices>Loading...</prices>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col-md-12 widget">
                <prices>Loading...</prices>
            </div>
        </div>
    </div>-->
</div>